priority 10

snippet package "Scaffolds an new main file for a package." b
package ${1:main}

import (
	"${2:fmt}"
)

func main() {
	${3}
}
endsnippet

snippet errc "Checks and logs error"
if err != nil {
	log.Println(err)
}
${1}
endsnippet
