snippet snSsh "Connects to a remote and executes commands" b
ssh -T ${1:user@host} <<EOF
	cd ~/app
	git pull
	exit
EOF
endsnippet

snippet snSedCamelCase "Converts all snake case occurences in files to camelCase"
ls *.${1:ext} | xargs -i sed 's/\(.\)_\(.\)/\1\U\2/g'
endsnippet
